<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Mike Penzin // Full Stack Developer</title>
        <meta name="description" content="personal portfolio">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="/img/fav/apple-touch-icon.png">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/">
        <link rel="stylesheet" href="/css/main.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <div class="page-header-404">
            <h1>Oh no! Something whent wrong :( <br> Try another page!</h1>
            <!--<h2>A responsive theme for your project on GitHub Pages</h2>-->
            <a href="/" class="button smoothScroll">About me</a>
            <a href="/projects" class="button">My Projects</a>
            <a href="/contact" class="button">Contact me</a>
        </div>
    </body>
</html>
