<% include partials/header %>
        <div class="page-header-404">
            <h1>404 <br> Oh no! Something whent wrong <i class="fa fa-frown-o" aria-hidden="true"></i> <br> Try another page!</h1>
            <!--<h2>A responsive theme for your project on GitHub Pages</h2>-->
            <a href="/" class="button smoothScroll">About me</a>
            <a href="/projects" class="button">My Projects</a>
            <a href="/contact" class="button">Contact me</a>
        </div>
    </body>
</html>
