<% include partials/header %>
        <div class="page-header-404">
            <h1>Oh no! Something whent wrong :( <br> Try another page!</h1>
            <!--<h2>A responsive theme for your project on GitHub Pages</h2>-->
            <a href="/" class="button smoothScroll">About me</a>
            <a href="/projects" class="button">My Projects</a>
            <a href="/contact" class="button">Contact me</a>
        </div>
    </body>
</html>
