<% include partials/header %>
        <div class="page-header">
            <h1>Mike Penzin // Full Stack Developer</h1>
            <!--<h2>A responsive theme for your project on GitHub Pages</h2>-->
            <a href="/" class="button smoothScroll">About me</a>
            <a href="/projects" class="button">My Projects</a>
            <a href="#contact" class="button">Contact me</a>
        </div>
        <div class="container" id="contact">
            <div class="container-header">
                <h1>Drop me a line!</h1>
            </div>
        	<div class="form">
        	    <div class="form-style">
                    <form method="POST" action="http://formspree.io/mike.penzin@gmail.com">
                        <input type="text" name="name" placeholder="Your Name" />
                        <input type="email" name="email" placeholder="Email Address" />
                        <textarea name="message" placeholder="Type your Message"></textarea>
                        <input type="submit" value="Send" />
                    </form>
                </div>
    		</div>
    	</div>	
<% include partials/footer %>