<% include partials/header %>
        <div class="page-header">
            <h1>Mike Penzin // Full Stack Developer</h1>
            <!--<h2>A responsive theme for your project on GitHub Pages</h2>-->
            <a href="#about" class="button smoothScroll">About me</a>
            <a href="/projects" class="button">My Projects</a>
            <a href="/contact" class="button">Contact me</a>
        </div>
        <div class="container" id="about">
            <div class="container-header">
                <h1>About me</h1>
            </div>
            <div class="center-image">
                <img src="/img/1.jpg">
                <div>
                    <a href="https://www.facebook.com/mike.penzin" target="blank_" class="button-inner"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
                    <a href="https://il.linkedin.com/in/mikepenzin" target="blank_" class="button-inner"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a>
                    <a href="https://github.com/mikepenzin" target="blank_" class="button-inner"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a>
                </div>
            </div>    
                <p>
                    <b>I like to code:</b><br>
                    writing code is the most precise way for me to express my thought process and creativity.  
                </p>
                <p>
                    <b>It's a craft:</b><br>
                    That means it is something that you can spend your whole live improving your skills in. It is akin to being a professional musician or athlete. 
                </p>
                <p>
                    <b>It's challenging:</b><br>
                    There is a near infinite amount of stuff you can learn, even if you are just talking about JS. Add to that the many new languages, programming paradigms, 
                    understanding the hardware, science and theory, and you will never get bored if you like to learn.
                </p>
        </div>
<% include partials/footer %>
