<%- include('partials/header') %>
        <div class="page-header">
            <h1>Mike Penzin // Full Stack Developer</h1>
            <a href="#about" class="button smoothScroll">About me</a>
            <a href="/projects" class="button">My Projects</a>
            <a href="/contact" class="button">Contact me</a>
        </div>
        <div class="container" id="about">
            <div class="container-header">
                <h1>About me</h1>
            </div>
            <div class="center-image">
                <img src="/img/1.jpg">
                <div>
                    <a href="https://www.facebook.com/mike.penzin" target="blank_" class="button-inner"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
                    <a href="https://il.linkedin.com/in/mikepenzin" target="blank_" class="button-inner"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a>
                    <a href="https://github.com/mikepenzin" target="blank_" class="button-inner"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a>
                </div>
            </div>    
                <p>
                    I'm always challenging myself to be a better at what I'm doing, autodidact, true team player, hard working and not afraid to take the Initiative.
                    <p>
                        <b>Also, passionate about coding using:</b> HTML, CSS, JS, jQuery & AngularJS <br>
                        <b>And building apps with:</b> NodeJS, ExpressJS, MongoDB & etc.
                    </p>
                </p>
               
        </div>
<%- include('partials/footer') %>
