<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Mike Penzin // Full Stack Developer</title>
        <meta name="description" content="personal portfolio">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="/img/fav/apple-touch-icon.png">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/">
        <link rel="stylesheet" href="/css/main.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <div class="page-header">
            <h1>Mike Penzin // Full Stack Developer</h1>
            <!--<h2>A responsive theme for your project on GitHub Pages</h2>-->
            <a href="#about" class="button smoothScroll">About me</a>
            <a href="/projects" class="button">My Projects</a>
            <a href="/contact" class="button">Contact me</a>
        </div>
        <div class="container" id="about">
            <div class="container-header">
                <h1>About me</h1>
            </div>
            <div class="center-image">
                <img src="/img/1.jpg">
                <div>
                    <a href="#" class="button-inner"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
                    <a href="#" class="button-inner"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a>
                    <a href="#" class="button-inner"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a>
                </div>
            </div>    
            <p>
                The materials on yummy.li's web site are provided "as is". yummy.li makes no warranties, expressed or 
                implied, and hereby disclaims and negates all other warranties, including without limitation, implied 
                warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of 
                intellectual property or other violation of rights. Further, yummy.li does not warrant or make any 
                representations concerning the accuracy, likely results, or reliability of the use of the materials 
                on its Internet web site or otherwise relating to such materials or on any sites linked to this site
            </p>
            <p>
                The materials on yummy.li's web site are provided "as is". yummy.li makes no warranties, expressed or 
                implied, and hereby disclaims and negates all other warranties, including without limitation, implied 
                warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of 
                intellectual property or other violation of rights. Further, yummy.li does not warrant or make any 
                representations concerning the accuracy, likely results, or reliability of the use of the materials 
                on its Internet web site or otherwise relating to such materials or on any sites linked to this site
            </p>
        </div>
        <div class="footer">
    		made with <i class="fa fa-heart love" aria-hidden="true"></i> by Mike Penzin
    	</div>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script src="/js/plugins.js"></script>
    </body>
</html>
