<% include partials/header %>
        <div class="page-header">
            <h1>Mike Penzin // My Projects</h1>
            <!--<h2>A responsive theme for your project on GitHub Pages</h2>-->
            <a href="/" class="button smoothScroll">About me</a>
            <a href="#projects" class="button smoothScroll">My Projects</a>
            <a href="/contact" class="button smoothScroll">Contact me</a>
        </div>
        <div class="container" id="projects">
            <div class="container-header">
                <h1>My Projects</h1>
            </div>
            <p>
                <h2>
                    // <span class="yummyli-logo">yummy.li</span>
                </h2>
                <h3>
                    <p>
                        Search recipes using ingredients you already have in the kitchen! Used amazing API of <a href="http://food2fork.com" target="_blank">Food2Fork</a>
                        
                    </p>
                </h3>
                <h4>
                    <strong>Frontend: </strong>EJS, Bootstrap, jQuery, CSS
                </h4>
                <h4>
                    <strong>Backend: </strong>NodeJS, MongoDB, ExpressJS, PassportJS
                </h4>
                <div>
                    <a href="https://yummyli.herokuapp.com" class="button-inner" target="_blank"><i class="fa fa-desktop" aria-hidden="true"></i> Demo</a>
                    <a href="https://github.com/mikepenzin/yummy.li" class="button-inner" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Fork it</a>
                </div>
                <div class="fake-browser-ui">
                    <div class="frame">
                        <span class="bt-1"></span>
                        <span class="bt-2"></span>
                        <span class="bt-3"></span>
                    </div>
                
                    <img src="/img/yummyli_screenshot_3.jpg" alt="yummy.li">
                </div>
                <div class="fake-browser-ui">
                    <div class="frame">
                        <span class="bt-1"></span>
                        <span class="bt-2"></span>
                        <span class="bt-3"></span>
                    </div>
                
                    <img src="/img/yummyli_screenshot_4.jpg" alt="yummy.li">
                </div>
                <div class="fake-browser-ui">
                    <div class="frame">
                        <span class="bt-1"></span>
                        <span class="bt-2"></span>
                        <span class="bt-3"></span>
                    </div>
                
                    <img src="/img/yummyli_screenshot_2.jpg" alt="yummy.li">
                </div>
            </p>
            <hr>
            <p>
                <h2>
                    <span>// Patatap</span>
                </h2>
                <h3>
                    <p>
                        Fun game, just tap any letter A to Z and create your own music with some special effects :)
                        Used <a href="http://paperjs.org" target="_blank">PaperJS</a>  and <a href="https://howlerjs.com" target="_blank">HowlerJS</a>
                    </p>
                </h3>
                <h4>
                    <strong>Frontend: </strong>HTML, CSS, PaperJS, HowlerJS
                </h4>
                <div>
                    <a href="https://patatapapp.herokuapp.com" class="button-inner" target="_blank"><i class="fa fa-desktop" aria-hidden="true"></i> Demo</a>
                    <a href="https://github.com/mikepenzin/Patatap-project" class="button-inner" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Fork it</a>
                </div>
                <div class="fake-browser-ui">
                    <div class="frame">
                        <span class="bt-1"></span>
                        <span class="bt-2"></span>
                        <span class="bt-3"></span>
                    </div>
                
                    <img src="/img/patatap_screenshot.jpg" alt="Patatap">
                </div>
            </p>
            <hr>
            <p>
                <h2>
                    <span>// Color Game</span>
                </h2>
                <h3>
                    <p>
                        Color Guessing game. Choose a right cubic with color as RGB in the header :)
                    </p>
                </h3>
                <h4>
                    <strong>Frontend: </strong>HTML, CSS and JS 
                </h4>
                <div>
                    <a href="https://colorgame.herokuapp.com" class="button-inner"  target="_blank"><i class="fa fa-desktop" aria-hidden="true"></i> Demo</a>
                    <a href="https://github.com/mikepenzin/Color-Guessing-Game" class="button-inner"  target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Fork it</a>
                </div>
                <div class="fake-browser-ui">
                    <div class="frame">
                        <span class="bt-1"></span>
                        <span class="bt-2"></span>
                        <span class="bt-3"></span>
                    </div>
                
                    <img src="/img/colorgame_screenshot_1.jpg" alt="Color Game">
                </div>
                <div class="fake-browser-ui">
                    <div class="frame">
                        <span class="bt-1"></span>
                        <span class="bt-2"></span>
                        <span class="bt-3"></span>
                    </div>
                
                    <img src="/img/colorgame_screenshot_2.jpg" alt="Color Game">
                </div>
            </p>
             <hr>
            <p>
                <h2>
                    <span>// ToDo App UI</span>
                </h2>
                <h3>
                    <p>
                        ToDo app prototype UI, using CSS and jQuery.
                    </p>
                </h3>
                <h4>
                    <strong>Frontend: </strong>HTML, CSS, jQuery
                </h4>
                <div>
                    <a href="https://miketodoapp.herokuapp.com" class="button-inner" target="_blank"><i class="fa fa-desktop" aria-hidden="true"></i> Demo</a>
                    <a href="https://github.com/mikepenzin/ToDo-List-App" class="button-inner" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Fork it</a>
                </div>
                <div class="fake-browser-ui">
                    <div class="frame">
                        <span class="bt-1"></span>
                        <span class="bt-2"></span>
                        <span class="bt-3"></span>
                    </div>
                
                    <img src="/img/todolist_screenshot.jpg" alt="ToDo App UI">
                </div>
            </p>
        </div>
<% include partials/footer %>